nav {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    margin: 1rem 0 1rem 0;
    padding: .5rem 2rem;
}

@media only screen and (max-width: 1300px) {
    
    nav {
        margin-inline: auto;
        width: 50%;
        justify-content: space-evenly;
    }

}

nav li {
    list-style: none;
    color: black;
    text-decoration: dotted;
}

ul {
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
}

li .nav-selected {
    font-weight: bolder;
    font-size: 3rem;
}